/* Universal for all pages on the site */

* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

body {
    background-color: silver;
    border: 2px solid black;
    padding: 2px;
}

/* Styling for the Index page */
#recipe-link {
    padding: 0 2px 10px;
}

/* Styling for the Recipe pages */

#dish_photo {
    width: 500px;
}

figcaption {
    margin: 0;
    padding-left: 0px;
    width: 500px;
    text-align: center;
    margin: 0px;
    font-weight: bold;
}

#home-link {
    margin-bottom: 10px;
}
